OWNER_NAME="𝐒𝚴𝚯𝐖 𝚾𝚸"
PREFIX="."
PUBLIC_MODE='off'
AUTO_READ_STATUS="on"
AUTO_DOWNLOAD_STATUS="off"
BOT_NAME= "𝐒𝚴𝚯𝐖 𝚾𝚸"
IMAGE_MENU= "https://static.animecorner.me/2023/08/op2.jpg"
NUMERO_OWNER= "918421737589"
OWNER_NAME= "𝐒𝚴𝚯𝐖 𝚾𝚸"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
